<div class="row">
  <div class="small-3 small-centered columns">
    <h1>HALOER</h1>
    <%= form_tag("/gamer", method: "get") do %>
      <%= label_tag(:gamertag, "Gamertag:") %>
      <%= text_field_tag(:gamertag, nil, required: true)%> 
      <%= label_tag(:count, "Game Count:") %>
      <%= number_field_tag(:count, nil, max:25) %> 
      <%= submit_tag("Search", class:"large button") %>
    <% end %>
  </div>
</div>





